.settingPanelList {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.settingPanelListLayout {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  
  @media screen and (min-width: 500px) {
    padding: 30px 30px 40px;
    border: 1px solid var(--card-highlight, rgba(92, 92, 92, 0.27));
    border-radius: 10px;

    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 4px 30px 0px rgba(68, 68, 68, 0.05);
    backdrop-filter: blur(2px);
  }
}

.settingPanel {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  width: 100%;
  @media screen and (min-width: 512px) and (max-width: 789px) {
    align-items: flex-start;
  }
  @media screen and (min-width: 902px) {
    align-items: flex-start;
  }
  .settingPanelTitle {
    display: flex;
    justify-content: flex-start;
    width: 100%;

    font-weight: 600;
    font-size: 1.25rem;
    line-height: normal;
  }
  .formContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    width: 100%;
  }
  .button {
    width: min(314px, calc(100% - 18px));
    margin-top: 2.5rem;

    font-size: 1.125rem;
  }
  .input {
    width: 100%;
    padding: 8px 14px;
    border: 4px solid #000;

    font-size: 16px;
  }
  .emailInput {
    color: #808080;

    background-color: #d7d7d7;
  }
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  @media screen and (min-width: 512px) {
    width: 100%;
    max-width: 412px;
  }
  img {
    border-radius: 50%;
  }
}
