.messagePanel {
  position: fixed;
  top: 20px;
  left: 50%;

  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  z-index: 99;
  transform: translateX(-50%);
}

.messageContainer {
  position: relative;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 150px;

  height: 50px;
  margin: 10px 0;

  margin: 0;
  padding: 0 25px;
  border-radius: 8px;

  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(5px);

  box-shadow:
    #6b6b6b1a 4px 3px 5px 1px,
    #7979791d -4px 0px 5px 1px;

  transform: translateY(-20px);

  opacity: 0;

  transition:
    opacity 0.3s,
    margin 0.3s,
    transform 0.3s;

  &.messageContainerIn {
    margin: 10px 0;

    transform: translateY(0px);

    opacity: 1;

    transition:
      opacity 0.3s,
      margin 0.3s,
      transform 0.3s;
  }
  p {
    width: 120px;

    text-align: center;
  }
}
