.input {
  display: inline-block;

  width: 270px; // 310 + 4 * 2 + 2 * 2 = 322 px
  height: 40px; // 40 + 4 * 2 + 1 * 2 = 50 px

  padding: 0 20px 0;
  border: 4px solid var(--color-inputBorder);
  border-radius: 10px;

  font-size: 20px;

  transition: border 0.15s ease-out 0s;
  &::after {
    content: var(--after-content);
  }
  &:focus {
    border: 4px solid var(--color-primary);
  }
}
