.input {
  display: inline-block;

  width: 288px;
  height: 40px;

  padding: 1px 13px;
  border: 4px solid var(--color-inputBorder);
  border-radius: 10px;

  font-size: 20px;

  transition: border 0.15s ease-out 0s;

  &:focus {
    border: 4px solid var(--color-primary);
  }
}

.input.error {
  border: 4px solid var(--color-error);

  &:focus {
    border: 4px solid var(--color-error);
  }
}
