.musk {
  position: fixed;
  top: 0;

  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.3);

  visibility: visible;
  opacity: 1;

  transition:
    opacity 0.5s,
    visibility 0s 0s;

  &.muskHidden {
    visibility: hidden;
    opacity: 0;

    transition:
      opacity 0.5s,
      visibility 0s 0.5s;
  }
}

.appPanel {
  position: fixed;
  top: 150px;

  z-index: 12;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  height: calc(150vh - 190px);
  padding: 20px;
  border-radius: 10px 10px 0 0;

  background-color: #fff;

  visibility: visible;

  transition:
    top 0.5s cubic-bezier(0.2, 1.06, 0.46, 1.15),
    visibility 0s 0s;

  @media screen and (min-width: 760px) {
    top: 0;
    left: -80px;

    width: max-content;
    height: 100vh;
    padding: 20px 20px 20px 100px;
    border-radius: 0 10px 10px 0;

    transition:
      left 0.5s cubic-bezier(0.2, 1.06, 0.19, 1.08),
      visibility 0s 0s;
  }

  &.appPanelHidden {
    top: 100vh;

    visibility: hidden;

    transition:
      top 0.3s,
      visibility 0s 0.3s;
    @media screen and (min-width: 760px) {
      top: 0;
      left: -600px;

      transition:
        top 0.3s,
        left 0.3s,
        visibility 0s 0.3s;
    }
  }
}

.PanelTitle {
  font-weight: 600;
  font-size: 1.25rem;
}

.appList {
  display: grid;
  grid-auto-rows: 100px;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  align-items: center;
  justify-items: center;
  width: 100%;
  max-height: calc(100vh - 270px);
  overflow-y: auto;
  @media screen and (min-width: 500px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  @media screen and (min-width: 620px) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  @media screen and (min-width: 740px) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  @media screen and (min-width: 760px) {
    grid-template-columns: 1fr 1fr 1fr;
    min-height: calc(100% - 80px);
  }
  &::-webkit-scrollbar {
    width: 0;
  }

  .appItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(88px + max(0px, min(100vw - 360px, 60px) / 6));
    padding: 11px 0px 19px 0px;
    border: 1px solid #000;
    border-radius: 10px;

    background: #fff;
    box-shadow: 0px 4px 11px 0px rgba(68, 68, 68, 0.1);

    .appLogo {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;

      cursor: pointer;
    }
    .appName {
      font-size: 0.875rem;
      line-height: normal;
    }
  }
}

.closeIcon {
  cursor: pointer;

  user-select: none;
}
