.button {
  display: flex;
  gap: 10px;

  align-items: center;
  justify-content: center;
  box-sizing: content-box;
  width: 314px;
  height: 42px;
  padding: 1px 6px;
  border: 3px solid var(--color-primary);
  border-radius: 10px;

  color: #ffffff;
  font-weight: 600;

  font-size: 22px;

  background-color: var(--color-primary);

  cursor: pointer;

  &.colorReverse {
    color: var(--color-primary);

    background-color: #ffffff;
  }
}
