.button {
  box-sizing: content-box;
  display: inline-flex;

  align-items: center;
  justify-content: center;
  color: #ffffff;
  width: 314px; // 314 + 3 * 2 + 6 * 2 = 332 px
  height: 42px; // 42 + 3 * 2 + 1 * 2 = 50 px
  border-radius: 10px;
  border: 3px solid var(--color-primary);
  background-color: var(--color-primary);

  font-family: "PingFang SC";
  font-size: 22px;
  font-weight: 600;
  gap: 10px;
  // text-align: center;

  cursor: pointer;

  &.colorReverse {
    background-color: #ffffff;
    color: var(--color-primary);
  }
}
