.layout {
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: calc(100vh - 10px);
  margin: 0 auto 10px;
  @media media and (max-width: 498px) {
    padding: 0 0 0;
    min-height: 660px;
    max-width: 844px;
  }
}

.container {
  display: flex;

  width: 397px;
  flex-direction: column;
  align-items: center;

  height: calc(73.3vh);
  min-height: 500px;
  max-height: 590px;

  border: 5px solid var(--color-primary);
  border-radius: 10px;
  background: #FFFFFF;

  @media screen and (max-width: 498px) {
    min-height: 510px;
    max-height: 600px;
    border: none;

    margin-top: 5px;
  }
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  height: 18vh;
  min-height: 160px;
  padding: 0 0 55px;

  font-size: 64px;

  color: var(--color-primary);

  @media screen and (max-width: 498px) {
    // align-items: end;

    padding:0;
    height: 26.67vh;
    width: 322px;
    min-height: 125px;
    max-height: 225px;

    font-size: 36px;
  }
}
