.backBody {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  color: #808080;
  cursor: pointer;
}