.nameForm {
  flex-direction: column;
  gap: 17px;
  align-items: center;
  justify-content: space-between;
  width: 332px;
  height: 36vh;
  min-height: 220px;
  max-height: 310px;
  padding: 28px 0 0 0;
  @media screen and (max-width: 498px) {
    height: 36.73vh;
  }
}

.anchor {
  min-height: 42px;
  margin: 12px 0 55px 0;

  font-weight: 600;
}

.toRegist {
  display: flex;
  align-items: flex-end;
  height: 10vh;
  min-height: 67px;
  max-height: 77px;
  margin: 0px 0 23px;

  color: var(--color-primary);
  font-size: 16px;
  line-height: 22px;

  a {
    color: #199af8;
    text-decoration: none;
  }
}

.resetPwdContainer {
  display: block;
  padding: 0.25rem 0.5rem;

  text-align: end;
  .resetPwd {
    color: #199af8;
    font-size: 0.875rem;
    line-height: 1.5rem;
    text-decoration: none;
  }
}

.passForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;

  height: 100%;
  min-height: 500px;
  max-height: 590px;

  .inputDiv {
    width: 100%;
    height: calc(36vh);
    min-height: 220px;
    max-height: 310px;
    padding: 28px 0 85px;
  }
}
.formLayout{
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 397px;
  max-width: 100vw;

  height: calc(73.3vh);
  min-height: 500px;
  max-height: 590px;
}
