.topbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  width: calc(100vw - 40px);
  height: 55px;
  padding: 0 20px;

  background: rgba(255, 255, 255, 0.5);

  box-shadow: 0px 4px 30px 0px rgba(68, 68, 68, 0.05);
  backdrop-filter: blur(2px);
}

.placeholder {
  width: 1px;
  height: 55px;
}

.menuIcon {
  cursor: pointer;

  user-select: none;
}

.avatar {
  position: absolute;
  right: 20px;

  cursor: pointer;

  user-select: none;
  img {
    border-radius: 50%;
  }
}
