.homeContainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  width: calc(100vw - 40px);
  max-width: 1280px;
  margin: auto;
  padding: 25px 0;

  @media screen and (min-width: 790px) {
    grid-template-columns: 360px 1fr;
  }
}

.leftPanel {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}

.rightPanel {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}
