.bgLayout {
  position: fixed;

  z-index: -10;

  width: 100%;
  min-width: 360px;
  height: 100vh;
  min-height: 725px;
  overflow: hidden;

  opacity: 0.4;
  @media screen and (max-width: 498px) {
    max-width: 844px;
    min-height: 660px;
  }
}

.yellow {
  width: 681px;
  height: 681px;

  background: radial-gradient(
    47.47% 47.47% at 49.91% 52.53%,
    #ffce20 0%,
    rgba(217, 217, 217, 0) 100%
  );
}

.green {
  width: 823px;
  height: 823px;

  background: radial-gradient(
    47.47% 47.47% at 49.91% 52.53%,
    #20ffd7 0%,
    rgba(217, 217, 217, 0) 100%
  );
}

.blue {
  width: 885px;
  height: 885px;

  background: radial-gradient(
    47.47% 47.47% at 49.91% 52.53%,
    #20afff 0%,
    rgba(217, 217, 217, 0) 100%
  );
}
.orange {
  width: 681px;
  height: 681px;

  background: radial-gradient(
    47.47% 47.47% at 49.91% 52.53%,
    #ff8b20 0%,
    rgba(217, 217, 217, 0) 100%
  );
}

.pc {
  @media screen and (max-width: 498px) {
    display: none;
  }
  .yellow {
    position: relative;
    top: calc(50% - 59px);

    left: calc(50% + 123px);

    transform: translateX(-50%) translateY(-50%);
  }
  .green {
    position: absolute;
    top: calc(50% + 166px);

    left: calc(50% + 136px);

    transform: translateX(-50%) translateY(-50%);
  }
  .orange {
    position: absolute;
    top: calc(50% + 167px);

    left: calc(50% - 166px);

    transform: translateX(-50%) translateY(-50%);
  }
  .blue {
    position: absolute;
    top: calc(50% - 200px);

    left: calc(50% - 166px);

    transform: translateX(-50%) translateY(-50%);
  }
}

.mobile {
  @media screen and (min-width: 498px) {
    display: none;
  }
  .blue,
  .green,
  .orange,
  .yellow {
    position: relative;
    top: 0;
    left: 0;

    transform: translateY(-50%);
  }
}
