.authPanel {
  display: flex;
  flex-direction: column;
  gap: 35px;
  align-items: center;
  justify-content: center;
  width: 330px;
  height: calc(27px + 36vh);
  min-height: 267px;
  max-height: 337px;
  padding: 28px 0 58px;
  img {
    border: 2px solid black;
    border-radius: 50%;
  }
  .both {
    position: relative;

    display: flex;
    gap: 35px;
    align-items: center;
    &::before {
      position: absolute;
      top: 50%;
      left: 50%;

      width: 50%;
      border-bottom: 2px dashed rgb(208, 215, 222);

      transform: translateX(-50%);

      content: "";
    }
    .clientMessage,
    .userMessage {
      z-index: 1;

      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .svgContainer {
      z-index: 1;

      flex: none;
      width: 32px;
      height: 32px;
      border-radius: 50%;

      text-align: center;

      background-color: #1f883d;
      .svg {
        display: inline-block;
        margin-top: 8px;

        color: white;

        fill: currentColor;
      }
    }
  }
  .list {
    width: 80%;
  }
}

.authList {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.authDescription {
  width: 85%;
}
