.a {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 312px; // 312 + 3 * 2 + 6 * 2 = 332 px
  height: 42px; // 42 + 3 * 2 + 1 * 2 = 50 px
  padding: 1px 6px;
  border-radius: 10px;
  border: 3px solid var(--color-primary);

  // font-family: "PingFang SC";
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  color: var(--color-primary);
}

.a.black {
  color: #ffffff;
  background: var(--color-primary);
}
