.base {
  width: 100%;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  .wrap {
    display: flex;
    flex-direction: column;
    gap: 12px;
    .text {
      font-weight: bold;
      font-size: large;
    }
  }
}
