:root {
  --sast-link: "hello!";
  --color-primary: #1c1f23;
  --color-light: #f5f5f5;
  --color-inputBorder: rgba(28, 31, 35, 0.3);
  --color-linkFocus: #f0f0f0;
  --color-error: #e73939;
}

body {
  margin: 0;
  @media screen and (max-width: 397px) {
    width: max-content;
    height: max-content;
  }
}