.accountList {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 36vh;
  min-height: 240px;
  max-height: 310px;
  padding: 55px 0 58px;

  width: 330px;

  .scroll {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 240px;
    width: 330px;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 0;
    }
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 330px;
  height: calc(85px + 8.8vh);
  min-height: 150px;
  max-height: 180px;
  gap: 12px;
}
