.nameForm {
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 17px;
  height: 36vh;
  min-height: 220px;
  max-height: 310px;
  padding: 28px 0 0 0;
  @media screen and (max-width: 498px) {
    height: 36.73vh;
  }
}

.anchor {
  margin: 12px 0 55px 0;
  min-height: 42px;
  font-weight: 600;
}

.icons {
  display: inline-flex;
  width: 312px;
  gap: 30px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.toRegist {
  display: flex;
  align-items: flex-end;
  margin: 0px 0 23px;
  color: var(--color-primary);
  height: 10vh;
  min-height: 67px;
  max-height: 77px;
  font-size: 16px;
  line-height: 22px;

  a {
    text-decoration: none;
    color: #199af8;
  }
}

.passForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100%;
  min-height: 500px;
  max-height: 590px;

  .inputDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 330px;
    height: calc(36vh);
    min-height: 220px;
    max-height: 310px;
    padding: 28px 0 85px;
  }

}
