.form,
.complete {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100%;
  min-height: 500px;
  max-height: 590px;

  .inputDiv,
  .success {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 330px;
    height: 36vh;
    min-height: 220px;
    max-height: 310px;
    padding: 28px 0 85px;
    gap: 12px;
    .descript {
      font-size: 14px;
      width: 290px;
      word-wrap: normal;
      text-align: initial;
    }
  }

  button,
  a {
    font-weight: 600;

    margin-top: 36px;
    gap: 10px;
  }
}

.mailInput,
.veriCodeInput {
  input {
    width: 121px;
    padding: 1px 180px 1px 13px;
  }
}

.inputDiv.passInput {
  gap: 0px;
}

.success {
  font-weight: 600;
  font-size: 20px;
}
