.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: content-box;
  width: 44px;
  height: 44px;
  border: 3px solid var(--color-primary);

  border-radius: 50%;

  cursor: pointer;

  user-select: none;
}
