.icon {
  box-sizing: content-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  border: 3px solid var(--color-primary);
  width: 44px;
  height: 44px;
  user-select: none;
  cursor: pointer;
}
